
.main_div {
  height: 0%;
  margin: 0px;
  padding: 0px;
}
.nav_menu {
  height: 100%;
  width: 60%;
  background-color: white;
  box-shadow: 2px 0px 19px 1px #afafafaf;
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: -100%;
  transition: 850ms;
  margin-top: -16%;
}
.nav_menu.active {
  left: 0;
  transition: 450ms;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 30px;
}
.bars {
  margin-left: 5px;
}
.navbar li {
  margin-bottom: 14px;
  font-size: 3vh;
  margin-left: 10px;
  height: 35px;
  width: 70%;
  display: flex;
  align-items: center;
}

.navbar span {
  margin-right: 10px;
}
.linkstyle {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16vmin;
  background-color: rgb(87, 87, 240);
}
